.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 0px 50px 95px 50px;
  position: relative;
  padding-top: 92px;
}

.header__links-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  gap: 33px;
  font-size: 18px;
}

.header__link_active {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo {
  width: 138px;
  height: 105px;
  display: block;
}

.address {
  font-style: normal;
  font-size: 18px;
}

.header__item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  padding-right: 36px;
  max-width: 240px;
  line-height: 24px;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-position: center;
  background-size: cover;
  position: relative;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  color: #FFFFFF;
  font-size: 100px;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text {
  display: block;
  padding-top: 166px;
  padding-left: 49px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding-left: 28px;
  padding-top: 18px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  padding-top: 19px;
  padding-right: 21px;
}

.cover__description {
  position: relative;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  margin-left: 48px;
  margin-right: 52px;
  z-index: 2;
  padding-top: 104px;
}

.cover__description-text {
  word-spacing: 19px;
  font-size: 22px;
}

.bet-button {
  background: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  min-height: 51px;
  width: 256px;
  text-transform: uppercase;
  font-size : 22px;
}

.lots {
 padding-top: 182px;
 padding-left: 22px;
}

.lots__heading {
  font-size: 40px;
  width: 700px;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  list-style: none;
  padding-top: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  display: flex;
  gap: 5px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  display: block;
}

.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 48px 40px 0 40px;
  position: relative;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  padding: 0 40px 48px 40px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 730px;
  grid-template-rows: 240px 1fr;
  padding-top: 156px;
  padding-left: 23px;
}

.about__logo {
  border-radius: 50%;
  background-color: black;
  width: 240px;
  height: 240px;
  justify-self: center;
  align-self: center;
  display: flex;
}

.about__logo-image {
  height: 114px;
  width: 148px;
  margin: auto;
}

.about__title {
  align-self: center;
  padding-top: 8px;
}

.about__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 24px;
}

.about__text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  padding-top: 170px;
  padding-bottom: 82px;
}

.footer__address {
  justify-self: center;
  line-height: 24px;
  padding-top: 12px;
  padding-right: 32px;
}

.footer__item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  padding-right: 3px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__social-list {
  list-style-type: none;
  justify-self: center;
  display: flex;
  gap: 33%;
  margin-bottom: 32px;
  margin-right: 74px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

